<section class="heading-section">
    <h1 class="title is-1 has-text-centered"> Todos </h1>
</section>

<div class="container">
    <div class="add-todo-box">
        <form>
            <h1 class="title is-5">New Todo</h1>
    
            <div class="field is-grouped">
                <p class="control is-expanded">
                  <input class="input" type="text" placeholder="Type todo text here ...">
                </p>
                <p class="control">
                  <button class="button alt-gradient-button">
                    <i class="material-icons">add</i>
                    Add
                  </button>
                </p>
              </div>
        </form>
    </div>
</div>

<section class="section">
    <div class="container">
        <div class="todos-list">
            <div class="todo-item completed">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>

                <div class="todo-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe odio sunt perspiciatis consectetur molestiae reiciendis exercitationem consequatur quisquam alias ipsam velit, quidem assumenda id explicabo temporibus. Culpa laudantium quo tempore?
                </div>
            </div>

            <div class="todo-item">
                <div class="check-box">
                    <i class="material-icons">check</i>
                </div>

                <div class="todo-text">
                    This has only one line of code
                </div>

                <div class="todo-controls-box">
                    
                </div>
            </div>
        </div>
    </div>
</section>


